/* Empty. Add your own CSS if you like */
.background, .background .pane, .background .item, .background .item-complex .item-content 
{
    background-color: black;
}

.icon
{
	background: black;
	color:white;
}

.modal 
{
	background-color: orange;
}