<ion-view>
  <div class="modal image-modal transparent" >
      <ion-header-bar class="bar-energized">
      <h2 class="light">履歷</h2>
      </ion-header-bar>
      <ion-content scroll="false">
        <div class="row" id="homeRow">
          <div class="col col-40">
            <img src={{home.userImage}}
                  width="40%"
                  height="">
            <br>
            <button class="button button-energized" ng-click="closeModal()">關閉</button>
            <br>
            <button class="button button-energized" ng-click="closeModal()">關閉</button>
          </div>
          <div class="col" >
            <h4 class="light">等級:5</h4>
            <h4 class="light">經驗:0/100</h4>
            <br>
            <h4 class="light">戰績:100戰100勝</h4>
            <h4 class="light">勝率:100.0%</h4>
            <h4 class="light">累積獎金:100000</h4>
            <h4 class="light">答對題數:10000</h4>
            <h4 class="light">擊敗關主:100</h4>
            <br>
            <h4 class="light">金幣加成:10%</h4>
            <h4 class="light">分數加成:10%</h4>
            <h4 class="light">經驗加成:10%</h4>
          </div>            
        </div>
        <button class="button button-energized" ng-click="closeModal()">關閉</button>
      </ion-content>
  </div>
</ion-view>